html
  head
    //- add styles in head
    link(href=require('./about.scss') rel='stylesheet')
  body
    h1 Hello Pug!
    
    //- add scripts at last position in body
    script(src=require('./about.js'))